*{
    margin: 0;
    padding: 0;
    list-style:none;
    font-size: 13px;
}
body,html{width: 100%;height: 100%}
#wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
#video-bg{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-9999;
    width: auto;
    height: auto;
}
.video-obj{
    width: 0;
    height: 0;
}
#header{
    width: 100%;
    height: 100px;
    background:yellow;
}